/* Define global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: beige;
}
  
  /* Define styles for navigation */
  nav {
    background-color: rgb(41, 192, 230);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  .logo {
    display: flex;
    align-items: right;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  form {
    display: flex;
    justify-content: right;
    margin-left: auto;
    ;
  }
  
  input[type="search"] {
    padding: 10px;
    border: none;
    background-color: #ddd;
    font-size:25px;
  }
  
  button[type="submit"] {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    align-items: top;
  }

  
  /* Define styles for shopping cart */
  .cart {
    display: flex;
    align-items: center;
  }
  
  .cart img {
    height: 50px;}

  /* Define the organisation of the products */
  main {
    display: grid;
    grid-template-columns: repeat(50px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  /*Define style for product cards  */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
  }
  
  /* Define style inside the cards */
  a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  input {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #3e8e41;
  }
  
  
  